.messages
  - if @posts.length > 0
    - @posts.each do |post|
      .message
        .message__content
          = post.content
        .message__name
          = post.user.name
        .message__date
          = post.created_at
  - else
    .message.default
      まだ投稿はありません

.form
  = form_for @post do |f|
    = f.text_area :content, placeholder: "文字を入力(25文字以内)", maxlength: 25, class: "form__contentForm"
    = f.submit "投稿する", class: "form__postBtn"